:root {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #494949;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 24px;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.test-btn {
  position: absolute;
  bottom: 1rem;
  z-index: 3;
}

.startpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  width: 85%;
  position: absolute;
  top: 2rem;
}

.startpage-hr {
  border: 1.5px solid #494949;
  border-radius: 25px;
}

.startpage-h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.login-btn {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  background-image: url("/assets/arrow 4.svg");
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 3rem;
  height: 2rem;
}

.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10rem;
}

.input-field {
  font-size: 16px;
  font-style: italic;
  color: #494949;
  background-color: transparent;
  width: 85vw;
  border-style: none;
  border-bottom: 3px solid #494949;
}

.startpage-p {
  position: absolute;
  bottom: 3rem;
  height: 60%;
  width: 75%;
  background-color: #494949;
  color: white;
  padding: 1.5rem;
  border-radius: 25px;
}

.start-btn {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  background-image: url("/assets/arrow-light.svg");
  background-color: transparent;
  border-style: none;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 3rem;
  height: 2rem;
}
